img{
    max-width: 100%;
}
div{
    float: left;
    width: calc(33.33% - 200px);
}
#so1{

    background-color: antiquewhite;
    width: 400px;
    height: 1140px;

    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 220px;

    padding: 50px;
    position: relative;
    box-sizing: border-box;
}
#so2{
    font-size: 20px;
    width: 1150px;
    height: 280px;
    background-color: darkgrey;

    padding-left: 550px;
    padding-top: 50px;

    margin-top: 40px;
    margin-left: -450px;
    box-sizing: border-box;
}
#so3{
    width: 1150px;
    height: 900px;
    background-color: aliceblue;

    margin-left: -450px;
    margin-bottom: 50px;

    padding-top: 30px;
    padding-left: 490px;
    padding-right: 25px;

    line-height: 1.3;
    box-sizing: border-box;
}

body{
    background-color: dimgray;
    background-image: url("../image/Thế chiến thứ 2_ (1).jpg");
}