*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    line-height: 1.25;
    background-color: #e7e7e7;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
>container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}